<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>survery</title>
    <style>
        .err {
            color: darkred;
        }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>
<body>
<div class="container">
    <h1>Midterm Survery</h1>
    <form action="#" method="post" class="form-horizontal">
        <div class="form-group">
            <label for="name" class="col-sm-2 control-label">Name:</label>

            <div class="col-sm-4">
                <input class="form-control" type="text" name="name" id="name" value="{{@name}}">
            </div>
            <span class="err">
                        <check if="{{ isset(@errors['name']) }}">
                            {{ @errors['name'] }}
                        </check>
                    </span>
        </div>


<!--        <div class="form-group">-->

<!--            <label class="control-label">How do you feel:</label>-->
<!--            <repeat group="{{@boxs}}" value="{{@box}}">-->
<!--                <div class="form-check">-->
<!--                    <input type="checkbox" class="form-check-input" id="{{@box}}"-->
<!--                    name="boxs[]" value="{{@box}}">-->
<!--                    <label class="form-check-label" for="{{@box}}">{{@box}}</label>-->
<!--                </div>-->

<!--            </repeat>-->
<!--            <span class="err">-->
<!--                        <check if="{{ isset(@errors['boxs']) }}">-->
<!--                            {{ @errors['boxs'] }}-->
<!--                        </check>-->
<!--                    </span>-->
<!--        </div>-->
        <div class="form-group">
            <p>How do you feel?</p>
            <input type="checkbox" class="form-check-input" id="nice" name="nice" value="nice">
            <label class="form-check-label" for="nice">nice</label>
            <br>
            <input type="checkbox" class="form-check-input" id="good" name="good" value="good">
            <label class="form-check-label" for="good">good</label>
            <br>
            <input type="checkbox" class="form-check-input" id="well" name="well" value="well">
            <label class="form-check-label" for="well">well</label>

            <span class="err">
                        <check if="{{ isset(@errors['choose']) }}">
                            {{ @errors['choose'] }}
                        </check>
                    </span>
        </div>

        <div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>

    </form>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>
</html>